.titulo h2{
    margin-left: 110px;
    margin-bottom: 80px;
    font-family: fantasy;
}
.zpotify{
    border: 2px solid black;
    margin-left: 450px;
    margin-right: 427px;
    border-radius: 50px;
    background: darkcyan;
}

.bandeja1{
    margin-left: 25px;
    margin-bottom: 50px;
}
.bandeja1 ul{
    display: inline;
    margin: 3px;
    display: inline-grid;
}
.bandeja1 ul img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: auto;
}
.bandeja2{
    margin-left: 25px;
    margin-bottom: 50px;
}
.bandeja2 ul{
    display: inline;
    margin: 3px;
    display: inline-grid;
}
.bandeja2 ul img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.bandeja3{
    margin-left: 25px;
    margin-bottom: 50px;
}
.bandeja3 ul{
    display: inline;
    margin: 3px;
    display: inline-grid;
}
.bandeja3 ul img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.bandeja4{
    margin-left: 25px;
    margin-bottom: 50px;
}
.bandeja4 ul{
    display: inline;
    margin: 3px;
    display: inline-grid;
}
.bandeja4 ul img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.bandeja5{
    margin-left: 25px;
    margin-bottom: 50px;
}
.bandeja5 ul{
    display: inline;
    margin: 3px;
    display: inline-grid;
}
.bandeja5 ul img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

